{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <h1 style="margin-left: 20px">
        Mon Profil
    </h1>
    <div style="margin-left: 20px; width: 400px">

        {{ form_start(profilFormView) }}
        {{ form_errors(profilFormView) }}

        {{ form_label(profilFormView.nom) }}
        {{ form_widget(profilFormView.nom, {'value' : app.user.nom }) }}
        {{ form_errors(profilFormView.nom) }}

        {{ form_label(profilFormView.prenom) }}
        {{ form_widget(profilFormView.prenom, {'value' : app.user.prenom }) }}
        {{ form_errors(profilFormView.prenom) }}

        {{ form_label(profilFormView.username) }}
        {{ form_widget(profilFormView.username, {'value' : app.user.username }) }}
        {{ form_errors(profilFormView.username) }}

        {{ form_label(profilFormView.mail) }}
        {{ form_widget(profilFormView.mail, {'value' : app.user.mail }) }}
        {{ form_errors(profilFormView.mail) }}

        {{ form_label(profilFormView.telephone) }}
        {{ form_widget(profilFormView.telephone, {'value' : app.user.telephone }) }}
        {{ form_errors(profilFormView.telephone) }}

        {{ form_label(profilFormView.site) }}
        {{ form_widget(profilFormView.site, {'value' : app.user.site.nom }) }}
        {{ form_errors(profilFormView.site) }}

        {{ form_widget(profilFormView.password) }}
        {{ form_errors(profilFormView.password) }}

        {{ form_end(profilFormView) }}
        <a class="btn btn-mi" style="background-color: #bf1209; color: white;" href="{{ path('outing_list') }}">Annuler</a>
    </div>

{% endblock %}








