

{% extends 'base.html.twig' %}
{% block body %}

    <h1>
        Mon Profil
    </h1>
    <div>
{#        {% if app.user.photo is not null %}#}
{#            <img class="img-profile-2 rounded-circle" src="{{ asset('files/' ~ app.user.photo) }}" alt="{{ app.user.username }}">#}
{#        {% else %}#}
{#            <i class="fas fa-user-circle fa-9x"></i>#}
{#        {% endif %}#}
{#        <img src="{{ app.user.avatar }}" />#}
        {{ form_start(profilFormView) }}
        {{ form_errors(profilFormView) }}

        {{ form_label(profilFormView.nom) }}
        {{ form_widget(profilFormView.nom, {'value' : app.user.nom }) }}
        {{ form_errors(profilFormView.nom) }}

        {{ form_label(profilFormView.prenom) }}
        {{ form_widget(profilFormView.prenom, {'value' : app.user.prenom }) }}
        {{ form_errors(profilFormView.prenom) }}

        {{ form_label(profilFormView.username) }}
        {{ form_widget(profilFormView.username, {'value' : app.user.username }) }}
        {{ form_errors(profilFormView.username) }}

        {{ form_label(profilFormView.mail) }}
        {{ form_widget(profilFormView.mail, {'value' : app.user.mail }) }}
        {{ form_errors(profilFormView.mail) }}

        {{ form_label(profilFormView.telephone) }}
        {{ form_widget(profilFormView.telephone, {'value' : app.user.telephone }) }}
        {{ form_errors(profilFormView.telephone) }}

        {{ form_label(profilFormView.password) }}
        {{ form_widget(profilFormView.password) }}
        {{ form_errors(profilFormView.password) }}

        {{ form_label(profilFormView.site) }}
        {{ form_widget(profilFormView.site, {'value' : app.user.site.nom }) }}
        {{ form_errors(profilFormView.site) }}
    </div>
    {{ form_end(profilFormView) }}

{% endblock %}








