{% block body %}
{% include ('base.html.twig') %}

<thead>
<tr>
    <th colspan="4"><h1>{{ participant.username }}</h1></th>
</tr>
</thead>
<tbody>
<br>
    <td>Nom :</td>
    <td>{{ participant.nom }}</td></br>
    <td>Prénom :</td>
    <td>{{ participant.prenom }}</td></br>
    <td>Téléphone :</td>
    <td>{{ participant.telephone }}</td></br>
    <td>E-mail :</td>
    <td>{{ participant.mail }}</td></br>
    <td>Site de rattachement :</td>
    <td>{{ participant.site.nom }}</td></br>
</tr>
</tbody>
{% endblock %}