{% extends 'base.html.twig' %}
{% block title %}Annuler une sortie{% endblock %}
{% block body %}
<link href="{{ asset('css/CSS.css') }}" rel="stylesheet">
<form action="{{ path('outing_cancel_validate', {id: sortie.id}) }}" method="post">
    <table class="table table-bordered" style="width:1000px; height:20px;" align="center">
        <thead>
        <tr>
            <th colspan="2"><h1 align="center">Annuler une sortie</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
            <th style="color: #00487f">Nom de la sortie : </th><td>{{ sortie.nom }}</td>
        </tr>
        <tr align="center">
            <th style="color: #00487f">Date de la sortie : </th><td>{{ sortie.dateHeureDebut|date('Y-m-d h:i') }}</td>
        </tr>
        <tr align="center">
            <th style="color: #00487f">Ville organisatrice : </th><td>{{ site.nom }}</td>
        </tr>
        <tr align="center">
            <th style="color: #00487f">Lieu : </th><td>{{ lieu.nom }} {{ lieu.rue }} {{ ville.codePostal }} {{ ville.nom }}</td>
        </tr>
        <tr align="center">
            <th style="color: #00487f" valign="middle">Motif : </th><td><textarea class="form-control form-control-mi " rows="2" cols="40" name="motif"></textarea></td>
        </tr>
        </tbody>
    </table>
    <input class="btn btn-mi" style="margin-left: 45%; background-color: #00487f; color: white" onchange="ecriture()" type="submit" value="Enregistrer">
    <a class="btn btn-mi" style="background-color: #bf1209; color: white" href="{{ path('outing_list') }}">Annuler</a>
</form>

{% endblock %}
