{% extends 'base.html.twig' %}
{% block title %}{{ sortie.nom }}{% endblock %}

{% block body %}
<link href="{{ asset('css/CSS.css') }}" rel="stylesheet">



    <h4 align="center" style="color: #00487f; padding-top: 20px">Afficher une sortie</h4><br>
    <table  class="table table-bordered" style="width:800px; height:200px;" align="center">

    <tbody>
        <thead>
        <tr align="center">
            <th width="300px" scope="row" style="color: #00487f">Nom de la sortie :</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Ville organisatrice :</th>
            <td>{{ site.nom }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Nombre de place :</th>
            <td>{{ sortie.nbInscriptionsMax }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Date et heure de la sortie :</th>
            <td>{{ sortie.dateHeureDebut|date('Y/m/d H:i') }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Date limite d'inscription :</th>
            <td>{{ sortie.dateLimiteInscription|date('Y/m/d H:i') }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Lieu :</th>
            <td>{{ lieu.nom }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Rue :</th>
            <td>{{ lieu.rue }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Code postal :</th>
            <td>{{ ville.CodePostal}}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Ville :</th>
            <td>{{ ville.nom }}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Durée :</th>
            <td >{{ sortie.duree }} minutes</td>
        </tr>

        <tr align="center">
            <th scope="row" style="color: #00487f">Latitude :</th>
            {% if lieu.latitude != " " or lieu.longitude != " " %}
            <td>{{ lieu.latitude}}</td>
        </tr>
        <tr align="center">
            <th scope="row" style="color: #00487f">Longitude :</th>
            <td>{{ lieu.longitude }}</td>
        </tr>
        {% endif %}
        <tr align="center">
        <th scope="row" valign="middle" style="color: #00487f">Descriptions et infos :</th>
            {% if sortie.etat == "Annulé" %}
                <td><strong>Sortie annulée.</strong><br>
                    <u>Motif :</u> {{ sortie.infosSortie }}</td>
            {% else %}
                <td>{{ sortie.infosSortie }}</td>
            {% endif %}
        </tr>

        </tbody>
        </thead>

    </table><br>


    <h4 align="center" style="color: #00487f">Liste des participants</h4><br>
    <table class="table table-bordered" style="width:800px; " align="center">
        <thead>
        <tr align="center">
            <th style="color: #00487f; width: 45%">Pseudo</th>
            <th style="color: #00487f; width: 55%">Nom</th>
        </tr>
        </thead>
    <tbody>


        {% for participant in sortie.participant %}
            <tr align="center">
                <td><a href="{{ path('user_profile', { 'id': participant.id})}}" class="btn btn-mi" style="background-color: silver">{{ participant.username }} </a> </td><td><a href="{{ path('user_profile', { 'id': participant.id})}}" class="btn btn-mi" style="background-color: silver">{{ participant.prenom }} {{ participant.nom }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

