{% extends 'base.html.twig' %}
{% block title %}Nos Sorties !{% endblock %}
{% block body %}

    <link href="{{ asset('css/CSS.css') }}" rel="stylesheet">
    <h2 align="center" style="color: #00487f; padding-top: 20px;">Voici nos sorties</h2><br>


        <h3>Filtrer les sorties</h3>

        <h6 align="right" style="margin-right: 180px">Date du jour : {{ date|date('d/m/Y') }}</h6>
        <h6 align="right" style="margin-right: 180px">Participant : {{ participant.username }}</h6>
    <div style="width: 300px; margin-left: 20px ">
        <table>
       {{ form_start(FilterFormView) }}

        {{ form_errors(FilterFormView) }}

    {{ form_row(FilterFormView.site) }}

        {{ form_row(FilterFormView.dateHeureDebut) }}

        {{ form_row(FilterFormView.dateHeureFin) }}
        </table>


    <table class="position">
        <tr>
            <td>
        {{ form_row(FilterFormView.pasInscrit) }}
            </td>
        </tr>
        <tr>
            <td>
            {{ form_row(FilterFormView.passed) }}
            </td>
        </tr>
        <tr>
            <td>
            {{ form_row(FilterFormView.inscrit) }}
            </td>
        </tr>
        <tr>
            <td>
            {{ form_row(FilterFormView.organisateur) }}
            </td>
        </tr>

                    </table>
        {{ form_row(FilterFormView.submit) }}

        {{ form_end(FilterFormView) }}

    </div>
    <table  id="scroll" class="table table-bordered" style="width: 1100px; margin-top: 40px; margin-right: 20px" align="center" >
        <thead>
        <tr align="center">
            <th scope="col" style="color: #00487f;width: 100px;" valign="middle">Nom de la sortie</th>
            <th scope="col" style="color: #00487f; width: 100px" valign="middle">Date de la sortie</th>
            <th scope="col" style="color: #00487f;width: 98px" valign="middle">Clôture</th>
            <th scope="col" style="color: #00487f;" valign="middle">Inscrits/places</th>
            <th scope="col" style="color: #00487f;width: 96px" valign="middle" align="center" >Etat</th>
            <th scope="col" style="color: #00487f" valign="middle">Inscrit</th>
            <th scope="col" style="color: #00487f" valign="middle">Organisateur</th>
            <th scope="col" style="color: #00487f; width: 245px" valign="middle">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td style="width: 100px">{{ sortie.nom }}</td>
                <td style="width: 20px">{{ sortie.dateHeureDebut|date('Y/m/d H:i') }}</td>
                <td style="width: 20px" >{{ sortie.dateLimiteInscription|date('Y/m/d H:i') }}</td>
                <td align="center" style="width: 125px">{{ sortie.participant|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td align="center" style="width: 64px">


                    {% set jeSuisInscrit = false %}
                    {% for participant in sortie.participant %}
                        {% if participant.id == app.user.id %}
                            {% set jeSuisInscrit = true %}
                        {% endif %}
                    {% endfor %}
                    {% if jeSuisInscrit %}
                        ✔
                    {% endif %}
                    {% if jeSuisInscrit == false %}
                        ❌
                    {% endif %}
                </td>
                <td align="center" style="width: 115px" >
                    <a href="{{ path('user_profile', { 'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }}</a>
                </td>
                <td>
                    {% if jeSuisInscrit == false and sortie.etat == "Ouvert" and sortie.participant|length != sortie.nbInscriptionsMax %}
                        <a href="{{ path('participant_register', {id: sortie.id}) }}">S'inscrire</a> -
                    {% elseif jeSuisInscrit == true %}
                        <a href="{{ path('participant_withdraw', {id: sortie.id}) }}">Se désister</a> -
                    {% endif %}

                    {% if sortie.organisateur.id == app.user.id %}
                        {% if sortie.etat == "En création" %}
                            <a href="{{ path('outing_modify', {id: sortie.id}) }}">Modifier</a>
                            -
                            <a href="{{ path('outing_publish', {id: sortie.id}) }}"
                               onclick="return confirm('Voulez vous vraiment Publier la sortie ?')"
                               class="publi">Publier</a>
                            -
                            <a href="{{ path('outing_delete', {id: sortie.id}) }}"
                               onclick="return confirm('Voulez vous vraiment supprimer la sortie ?')"
                               class="warning">Supprimer</a>
                        {% else %}
                            <a href="{{ path('outing_detail', {id: sortie.id}) }}">Afficher</a>
                            {% if sortie.etat == "Ouvert" %}
                                - <a href="{{ path('outing_cancel', {id: sortie.id}) }}" class="warning">Annuler</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if sortie.etat != "En création" %}
                            <a href="{{ path('outing_detail', {id: sortie.id}) }}">Afficher</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<body>
    <div class="flex2"><a class="btn btn-mi" style="background-color: #00487f; color: white; margin-left: 140px;" href="{{ path('outing_new') }}">Créer une sortie</a>
        <h6 align="right" style="margin-left: 655px; margin-bottom: 20px">Personne inscrite : ✔</h6></div>
    <h6  align="right" style="margin-right: 170px">Personne non inscrite : ❌</h6>

    </body>

    <footer>
        <img  id="footer"  src="/images/sortir.png" style=" margin-left: 80px; width: 1100px; margin-bottom: auto;" alt="">
    </footer>




{% endblock %}


