{% extends 'base.html.twig' %}
{% block title %}Organiser une sortie{% endblock %}
{% block body %}


<div style="margin-left: 20px; margin-right: 20px; margin-top: 20px">

    <h1>Que voulez-vous faire ?</h1>

    {{ form_start(sortieFormView) }}
    {{ form_errors(sortieFormView) }}

    {{ form_label(sortieFormView.nom) }}
    {{ form_widget(sortieFormView.nom) }}
    {{ form_errors(sortieFormView.nom) }}

    {{ form_label(sortieFormView.dateHeureDebut) }}
    {{ form_widget(sortieFormView.dateHeureDebut) }}
    {{ form_errors(sortieFormView.dateHeureDebut) }}

    {{ form_label(sortieFormView.duree) }}
    {{ form_widget(sortieFormView.duree) }}
    {{ form_errors(sortieFormView.duree) }}

    {{ form_label(sortieFormView.dateLimiteInscription) }}
    {{ form_widget(sortieFormView.dateLimiteInscription) }}
    {{ form_errors(sortieFormView.dateLimiteInscription) }}

    {{ form_label(sortieFormView.nbInscriptionsMax) }}
    {{ form_widget(sortieFormView.nbInscriptionsMax) }}
    {{ form_errors(sortieFormView.nbInscriptionsMax) }}

    {{ form_label(sortieFormView.infosSortie) }}
    {{ form_widget(sortieFormView.infosSortie) }}
    {{ form_errors(sortieFormView.infosSortie) }}

    {{ form_label(sortieFormView.lieu) }}
    {{ form_widget(sortieFormView.lieu) }}
    {{ form_errors(sortieFormView.lieu) }}

    {{ form_label(sortieFormView.site) }}
    {{ form_widget(sortieFormView.site) }}
    {{ form_errors(sortieFormView.site) }}

    {{ form_end(sortieFormView) }}

    <button class="btn btn-mi" style="background-color:  #bf1209; color: white; margin-top: 5px" onclick="window.location.href='http://localhost:8080/outing/'">Annuler</button>
    </div>
{% endblock %}
