{% block title %}Gerer les sites{% endblock %}
{% block body %}
{% include ('base.html.twig') %}
    <h1 style="margin-left: 20px">Gérer les sites</h1>

    <form method="get" action="{{ path('admin_modify_site') }}" style="margin-left: 20px">
        <table>
            <thead>
                <tr>
                    <th style="width: 200px">Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <th style="width: 200px">
                        {% if site.id == app.request.get('id') %}
                            <input type="hidden" name="id" value="{{ site.id }}">
                            <input type="text" name="nomSite" value="{{ site.nom }}" onkeyup="this.value = this.value.toUpperCase()">
                            <th><input type="submit" value="Valider"></th>
                        {% else %}
                            {{ site.nom }}
                            <th><a href="{{ path('admin_create_site', {id: site.id}) }}">Modifier</a></th>
                        {% endif %}
                    </th>
                    <th> - <a href="{{ path('admin_delete_site', {id: site.id}) }}">Supprimer</a></th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
</form>


    <div style="width: 400px; margin-left: 20px">
    {{ form_start(siteFormView) }}
    {{ form_errors(siteFormView) }}

    {{ form_label(siteFormView.nom) }}
    {{ form_widget(siteFormView.nom) }}
    {{ form_errors(siteFormView.nom) }}

    {{ form_end(siteFormView) }}
    </div>


    <button class="btn btn-lg" style="background-color: lightcoral; margin-left: 20px" onclick="window.location.href='http://localhost:8080/outing/'">Annuler</button>
{% endblock %}