{% extends ('base.html.twig') %}
{% block title %}Gérer les villes{% endblock %}
{% block body %}

    <h1 style="margin-left: 20px">Gérer les villes</h1>

    <form method="get" action="{{ path('admin_modify_ville') }}" style="margin-left: 20px">
        <table>
            <thead>
            <tr>
                <th style="width: 200px">Ville</th>
                <th style="width: 200px">Code postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    {% if ville.id == app.request.get('id') %}
                        <input  type="hidden" name="id" value="{{ ville.id }}">
                        <th style="width: 200px"><input class="form-control-sm" type="text" name="nomVille" value="{{ ville.nom }}"></th>
                        <th style="width: 200px" ><input class="form-control-sm" type="number" name="codePostal" value="{{ ville.codePostal }}"></th>
                        <th><input class="btn btn-sm" style="background-color: #00487f; color: white" type="submit" value="Valider"></th>
                    {% else %}
                        <th>{{ ville.nom }}</th>
                        <th>{{ ville.codePostal }}</th>
                        <th><a href="{{ path('admin_create_ville', {id: ville.id}) }}">Modifier</a></th>
                    {% endif %}
                    <th> - <a href="{{ path('admin_delete_ville', {id: ville.id}) }}" style="color: #bf1209">Supprimer</a></th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>
<div style="width: 560px; margin-left: 20px">
    {{ form_start(villeFormView) }}
    {{ form_errors(villeFormView) }}

    {{ form_label(villeFormView.nom) }}
    {{ form_widget(villeFormView.nom) }}
    {{ form_errors(villeFormView.nom) }}

    {{ form_label(villeFormView.CodePostal) }}
    {{ form_widget(villeFormView.CodePostal) }}
    {{ form_errors(villeFormView.CodePostal) }}


    {{ form_end(villeFormView) }}

</div>
    <button class="btn btn-mi" style="background-color: #bf1209; color: white; margin-left: 20px; margin-top: 5px"
            onclick="window.location.href='http://localhost:8080/outing/'">Annuler
    </button>
{% endblock %}